.Rproj.user
.Rhistory
.RData
.Ruserdata
Biomes_WWF
Downloaded_data_ES
ESA_LC
Population_Density_Shapefile
cropped_raster_data
/data
/WRPA_Zambia_Data_v10_gdb/
.DS_Store
/vector
/output_data/distributionServ_pa.csv
/vector/Yucatan_shapefiles
/restoration_naturebase
/output_data/distributionServ_restoration.csv
/output_data/service_access_PA.csv
/restoration_combined
/restoration/restoration_BRAZIL.tif
/Restoration_Griscom/
/USO_ACTUAL_MDD 
/Population_Density
/VCM_Projects
/Interventions/Brazil_int_areas
/Interventions/Brazil_intervention
/Interventions/Mexico_int_areas
/Interventions/Mex_intervention
/Interventions/Peru_int_areas
/Interventions/Peru_intervention
/Interventions/Madagascar_int_areas
/Interventions/Vietnam
/natcap_data
/notebooks/Global_modeling.nb.html
/Interventions/interventions_L.geojson
/Interventions/interventions_LA.geojson
/output_data/service_prov_rest.csv
/output_data/service_prov_Rest.csv

