# Git
.DS_Store

# Quarto
_book/
_freeze/

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# Data files
*.gpkg

# Archives
*.zip
*.tar.gz

# Directories
data/
outputs/plots_archive_mar20
.quarto/
/.quarto/
**/*.quarto_ipynb
_book/
*_cache/
~.docx
summary_pipeline_workspace/
home/Rtmp*/
home/Rscript*
