.Rproj.user
.Rhistory
.RData
/input_ES
.DS_Store
/vector
/data
/drafts
/vector/global_poly_means.gpkg
/vector/Global_NCP.qgz
/summary_pipeline_worskpace/
/summary_pipeline_worskpace/taskgraph_data.db
.vscode/
__pycache__/
/data_NCP
/output_data
/output_charts/basins
/output_data/distributionServ_pa.csv
/vector/Yucatan_shapefiles
/restoration_naturebase
/output_data/distributionServ_restoration.csv
/output_data/service_access_PA.csv
/restoration
/Restoration_Griscom/
/USO_ACTUAL_MDD 
/Population_Density
/VCM_Projects
/Interventions/Brazil
/Interventions/Brazil_intervention
/Interventions/Mexico
/Interventions/Mexico_intervention
/Interventions/Peru
/Interventions/Peru_intervention
/Interventions/Madagascar
/Interventions/Vietnam
/natcap_data
/old_notebooks/
